<template>
    <footer class="bg-green-800 text-white  mt-10">
        <div class="container mx-auto flex flex-col items-center py-8">
            <p class="mb-4">Creado por</p>
            <p class="mb-4" > <a href="https://github.com/yosoymitxel" target="_blank" class="text-green-50"><i class="fab fa-github"></i>
                Yosoymitxel</a></p>
            <p >Repositorio: <a href="https://gitlab.com/yosoymitxel/desafiobix" target="_blank" class="text-green-50">Desafío Bix</a></p>
        </div>
        <div class="p-2 bg-green-900 text-center">
            <p>&copy; {{ new Date().getFullYear() }} Todos los derechos reservados.</p>
        </div>
    </footer>
</template>
