<script setup>
    import ApplicationLogo from '@/Components/ApplicationLogo.vue';
</script>

<template>
    <div>
        <div class="p-6 lg:p-8 bg-white border-b border-gray-200">
            <h1 class="text-2xl font-medium text-gray-900">
                Welcome {{$page.props.auth.user.name}}
            </h1>
            <input v-model="userId" value="{{$page.props.auth.user.id}}" class="hidden"></input>
            <div>
                <h1 class="text-lg my-4 font-bold text-green-500">User Details</h1>
                <div v-if="userData" class="user-data">
                    <ul>
                        <li v-for="(value, key) in filteredUserData" :key="key">
                            <p class="font-bold capitalize">{{ key }}</p>
                            <p class="my-2">{{ value }}</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                userId: '', // Replace with actual user ID
                userData: null,
            };
        },
        computed: {
            filteredUserData() {
                return this.userData ? Object.fromEntries(
                    Object.entries(this.userData)
                        .filter(([key]) => ['user_id', 'name', 'email', 'activo', 'bloqueado'].includes(key))
                ) : null;
            },
        },
        mounted() {
            this.userId = this.$page.props.auth.user.id; // Move to created
            this.getUserData(); // Call getUserData when mounted
        },
        methods: {
            getUserData() {
                axios.get(`/api/Usuarios/${this.userId}`)
                    .then(response => {
                        this.userData = response.data;
                    })
                    .catch(error => {
                        console.error('Error fetching user data:', error);
                    });
            },
        },
    };
</script>
